<%if logged_in?%>
  <nav>
    <ul class="nav">
      <li><a href="/users/<%=@current_user.id%>"><%=@current_user.username.capitalize%></a></li>
      <li><a href="/sessions/logout">Logout</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
<%else%>
  <nav>
    <ul class="nav">
      <li><a href="/users/new">Register</a></li>
      <li><a href="/sessions/login">Login</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
<%end%>
