.nav li{
  float:left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav li a{
  color: white;
}

li a:hover {
    background-color: #111;
}
