<h3>Enter characters name</h3>
<form action="/users/<%=@user.id%>/characters" method="POST">
  Character: <input type="text" name=character[name]>
  <br>
  <input type="submit" value="ADD CHARACTER">
</form>

