<%if logged_in?%>
  <%@fests.each do |fest|%>
    <%%>
  <%end%>
<%else%>
  <p> Smash Connect is a way to find other smashers and smash-fests near you!</p>
  <div id='registration'>
    <p> REGISTER TO FIND PLAYERS</p>
    <form id="reg-button" action="/users/new" method="GET">
      <input type="submit" value="REGISTER HERE">
    </form>
  </div>
<%end%>
